@import 'src/theme/main';

.landmarkListItem {
  @extend %card;
  @include rem(height, 200px);
  position: relative;

  .thumb {
    @include rem(height, 200px);
    @include rem(width, 300px);
    position: absolute;
  }

  .thumb + .cardContent {
    @include rem(padding-left, 320px);
  }
  
  .cardContent {
    width: 100%;
  }
}
