@import 'src/theme/main';

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

.loader {
  @include padding-leader(3);
  @include padding-trailer(3);
  width: 100%;

  span {
    display: block;
    height: 0;
    text-indent: -999em;
  }
}

.loading-dark {
  @extend .loading;
  background-color: $darkgray;

  .cube {
    background-color: $white;
  }
}

.cube {
  @include animation(rotateplane 1.2s infinite ease-in-out);
  @include rem(height, 50px);
  @include rem(width, 50px);
  background-color: $darkgray;
  margin: 0 auto;
}
