.loader {
  padding: 1em 0;

  .hourglass {
    animation: spin 3050ms cubic-bezier(.34,-0.27,.14,1) infinite;
    height: 66px;
    margin: 0 auto;
    position: relative;
    width: 66px;

    svg {
      
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    svg.full {
      animation: empty 3050ms linear infinite;
      fill: #3DAAC3;
    }

  }

  span {
    display: block;
    height: 0;
    text-indent: -999em;
  }

}

@keyframes spin { 100% { transform:rotate(1080deg); } }
@keyframes empty { 0% { clip: rect(66px, 66px, 66px, 0) } 7% { clip: rect(0, 66px, 66px, 0) } 100% { clip: rect(66px, 66px, 66px, 0) }; }
