@import 'src/theme/main';

.search {
  background-color: rgba($white, 0);
  left: 0;
  max-height: 100vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: background-color 240ms;
  transition-delay: 300ms;
  width: 100%;
  z-index: 1000;

  &:before,
  &::before {
    content: "";
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: background-color 240ms;
    transition-delay: 300ms;
    width: 100%;
    z-index: -1;
  }

  button {
    @include rem(height, 50px);
    -webkit-appearance: none;
    background: transparent;
    border: none;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;

    top: 0;
    right: 0;

    .searchButton, .closeButton {
      transition: transform 120ms linear;
    }

    svg {
      @include rem(margin-bottom, 4px);
      @include rem(width, 20px);
      display: block;
      height: auto;
      margin-left: auto;
      margin-top: 0;
      margin-right: auto;
    }

    span {
      @include rem(font-size, 9px);
      display: block;
      font-weight: $regular;
      text-transform: uppercase;
      width: 100%;
    }
  }

  @include breakpoint(height-small) {
    @include rem(padding-top, 21px);
    button {
      @include rem(top, 21px);
      svg { @include rem(width, 24px); }
      span { @include rem(font-size, 10px); }
    }
  }

  @include breakpoint(height-medium) {
    @include rem(padding-top, 24px);
    button {
      @include rem(top, 24px);
      svg { @include rem(width, 32px); }
      span { @include rem(font-size, 11px); }
    }
  }

  .searchBox {

    div form + div {
      display: none;
    }

    form {
      padding: 0;

      input[type="search"] {
        margin-top: 0;
        transform: translateY(-200%);
        transition: transform 240ms;
        transition-delay: 60ms;
      }
    }
  }

  &.searchOpen {

    &:before,
    &::before {
      background-color: rgba($white, .96);
      display: block;
    }

    .closeButton {
      transform: translateY(-100%);
    }

    .searchButton {
      transform: translateY(-100%);
    }

    .searchBox {
      @include padding-trailer(3);
      overflow: auto;
      max-height: 100vh;
      pointer-events: auto;

      div form + div {
        display: block;
      }

      form input[type="search"] {
        transform: translateY(0);
      }
    }
  }
}
