@import 'src/theme/main';

.search {
  left: 0;
  max-height: 100vh;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: background-color 240ms;
  transition-delay: 300ms;
  width: 100%;
  z-index: 1000;

  &:before,
  &::before {
    content: "";
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: background-color 240ms;
    transition-delay: 300ms;
    width: 100%;
    z-index: -1;
  }

  button {
    @include rem(height, 40px);
    @include rem(margin-top, 8px);
    @include rem(right, 2px);
    -webkit-appearance: none;
    background: transparent;
    border: none;
    overflow: hidden;
    pointer-events: auto;
    position: absolute;
    top: 0;

    @include breakpoint(tablet) {
      @include rem(right, 12px);
    }

    .searchButton, .closeButton {
      transition: transform 120ms linear;
    }

    svg {
      @include rem(margin-bottom, 4px);
      @include rem(width, 20px);
      display: block;
      height: auto;
      margin-left: auto;
      margin-top: 0;
      margin-right: auto;
    }

    span {
      @include rem(font-size, 9px);
      display: block;
      font-weight: $regular;
      text-transform: uppercase;
      width: 100%;
    }
  }

  .searchContainer {
    .searchResults {
      display: none;
    }

    .searchForm form {
      @include rem(margin-right, 68px);
      @include rem(margin-top, 2px);
      @include rem(padding-bottom, 10px);
      left: 0;
      margin-left: 1%;
      padding: 0;
      position: fixed;
      right: 0;

      @include breakpoint(840px) {
        margin-left: auto;
        margin-right: auto;
      }

      input[type="search"] {
        margin-top: 0;
        transform: translateY(-200%);
        transition: transform 240ms;
        transition-delay: 60ms;
      }
    }
  }

  @include breakpoint(height-small) {

    .searchContainer .searchForm form {
      @include rem(margin-top, 21px);
    }

    button {
      @include rem(height, 48px);
      @include rem(top, 16px);
      svg { @include rem(width, 24px); }
      span { @include rem(font-size, 10px); }
    }
  }

  @include breakpoint(height-medium) {

    .searchContainer .searchForm form {
      @include rem(margin-top, 30px);
    }

    button {
      @include rem(height, 50px);
      @include rem(top, 24px);
      svg { @include rem(width, 32px); }
      span { @include rem(font-size, 11px); }
    }
  }

  &.searchOpen {

    &:before,
    &::before {
      background-color: $white;
      background-color: rgba($white, .96);
      display: block;
      pointer-events: all;
    }

    .closeButton {
      transform: translateY(-100%);
    }

    .searchButton {
      transform: translateY(-100%);
    }

    .searchContainer {
      @include padding-trailer(3);
      overflow: auto;
      max-height: 100vh;
      pointer-events: auto;

      .searchResults {
        display: block;
      }

      .searchForm form input[type="search"] {
        transform: translateY(0);
      }
    }
  }
}
