{
  "stage": 0,
  "loose": "all",
  "plugins": [
      "typecheck",
      "react-transform"
  ],
  "extra": {
      "react-transform": [{
          "target": "react-transform-webpack-hmr",
          "imports": ["react"],
          "locals": ["module"]
      }]
  }
}
