{
  "stage": 0,
  "optional": "runtime",
  "loose": "all",
  "plugins": [
    "typecheck"
  ],
  "env": {
    "development": {
      "plugins": [
        "typecheck",
        "react-transform"
      ],
      "extra": {
        "react-transform": [{
            "target": "react-transform-webpack-hmr",
            "imports": ["react"],
            "locals": ["module"]
        }]
      }
    }
  }
}
