.git/
.idea/
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
static/dist/
*.iml
webpack-assets.json
webpack-stats.json
.happypack/
webpack/dlls/*.json
# api/**/*.nedb
*.report.html
coverage/
