{ "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": "off",  // not sure why airbnb turned this on. gross!
    "consistent-return": "warn",
    "global-require": "warn",
    "import/default": "off",
    "import/named": "off",
    "import/namespace": "off",
    "import/no-duplicates": "off",
    "import/no-named-as-default": "error",
    "import/no-unresolved": "off",
    "indent": ["error", 2, {"SwitchCase": 1}],
    "max-len": ["error", 120],
    "no-alert": "off",
    "no-console": "off",
    "prefer-template": "warn",
    "react/jsx-first-prop-new-line": ["warn", "multiline"],
    "react/no-multi-comp": "off",
    "react/prefer-stateless-function": "warn",
  },
  "plugins": [
    "react", "import"
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/ignore": ["node_modules", ".scss$"],
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
