{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "react/no-multi-comp": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-closing-bracket-location": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "comma-dangle": 0,
    "consistent-return": 0,
    "no-param-reassign": 0,
    "prefer-template": 0,
    "global-require": 0,
    "no-case-declarations": 0,
    "no-console": 0,
    "no-alert": 0,
    "max-len": [
      1,
      120
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ]
  },
  "plugins": [
    "react",
    "import"
  ],
  "settings": {
    "import/resolve": {
      "moduleDirectory": [
        "node_modules",
        "src"
      ]
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
