@import 'src/theme/main';

.landmarkList {
  @extend .tiltBefore;
  @extend .tiltAfter;
  background-color: $lightgray;
  padding-left: 0;
  padding-right: 0;

  &:before,
  &::before,
  &:after,
  &::after {
    background-color: $lightgray;
  }

  &> ul {
    @include block-width($w-sml);
    margin: 0 auto;
    text-align: left;
  }
}
