@import 'src/theme/main';
$busy-space-small: $header-height-small + $navbar-height + $snippet-height-small;
$busy-space-medium: $header-height-medium + $navbar-height + $snippet-height-medium;
$busy-space-large: $header-height-large + $navbar-height + $snippet-height-large;

.landmark {
  height: 100%;

  .coverImage {
    background-color: $midgray;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;

    img {
      bottom: 0;
      height: auto;
      left: 0;
      object-fit: cover;
      margin: auto; /* this centers image inside */
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%; /* this is to shrink the images of large width */
    }
  }

  .landmarkDetails {
    @include padding-leader(1);
    @include padding-trailer(1);
    overflow-y: auto;
    max-height: 480px - $busy-space-small; // for devices with no viewport unit/calc support
    max-height: calc(100vh - #{$busy-space-small});
    position: relative;

    @include breakpoint(height-small) {
      // 700px
      max-height: calc(100vh - #{$busy-space-medium});
    }

    @include breakpoint(height-medium) {
      // 850px
      max-height: calc(100vh - #{$busy-space-large});
    }

    /****************************************
     Device-specific hacks
    *****************************************/

    /* iPhone 6 landscape */
    @media screen and (height: 375px) {
      max-height: 375px - $busy-space-small;
    }

    /* iPhone 6 Plus landscape */
    @media screen and (height: 414px) {
      max-height: 414px - $busy-space-small;
    }

    /* iPhone 4 portrait */
   @media screen and (height: 480px) {
      max-height: 480px - $busy-space-small;
    }

    /* iPhone 5 portrait */
   @media screen and (height: 568px) {
      max-height: 568px - $busy-space-small;
    }

    /* iPhone 6 portrait: chrome – navbar */
   @media screen and (height: 558px) {
      max-height: 558px - $busy-space-small;
    }

    /* iPhone 6 portrait: stackoverflow */
   @media screen and (height: 559px) {
      max-height: 559px - $busy-space-small;
    }

    /* iPhone 6 portrait: chrome - default */
   @media screen and (height: 627px) {
      max-height: 627px - $busy-space-small;
    }

    /* iPad landscape */
   @media screen and (height: 768px) {
      max-height: 768px - $busy-space-medium;
    }

    /* iPad portrait */
     @media screen and (height: 1024px) {
      max-height: 1024px - $busy-space-large;
    }

    h1 {
      padding-bottom: 0;
      text-align: center;

      @include breakpoint(height-smallest) {
        padding-bottom: rhythm(0.5);
        padding-top: rhythm(1);
      }
    }

    a {
      color: $skyblue;
      &:hover {
        color: $duckeggblue;
      }
    }

    .breadcrumb {
      @include rem(font-size, 15px);
      border-bottom: none;
      margin-bottom: 0;
      text-align: center;

      @include breakpoint(height-smallest) {
        padding-bottom: rhythm(1);
      }

      a {
        @include rem(border-radius, 4px);
        @include rem(padding-bottom, 2px);
        @include rem(padding-left, 12px);
        @include rem(padding-right, 12px);
        @include rem(padding-top, 2px);
        @include shadow-2dp();
        background-color: $darkgray;
        border-bottom: 2px solid $silver;
        color: $lightgray;
        display: inline-block;
        font-weight: $bold;

        &:focus {
          @include breakpoint(desktop) {
            margin-top: 2px;
            border-bottom-width: 0;
          }
        }
      }
    }

    .landmarkTitle {
      @include rem(padding-bottom, 8px);
      @include rem(padding-top, 12px);
      @include rem(font-size, 20px);
      background-color: $black;
      box-shadow: 16px 0 0 $black, -16px 0 0 $black;
      color: $white;
      font-weight: $bold;
      line-height: 1.2;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      @include breakpoint(height-smallest) {
        @include rem(font-size, 32px);
      }

      @include breakpoint(height-medium) {
        @include rem(font-size, 48px);
      }
    }

    .landmarkDescription {
      @include adjust-font-size-to(14px);
      @include rem(max-width, 544px);
      background-color: rgb(21, 21, 21);
      background-color: rgba(21, 21, 21, 0.42);
      color: $white;
      margin: auto;
      padding: rhythm(1) rhythm(1) 0 rhythm(1);
      text-shadow: 1px 1px rgba(0,0,0,0.7);

      @include breakpoint(height-medium) {
        @include adjust-font-size-to(18px);
      }

      @include breakpoint(height-big) {
        @include adjust-font-size-to(21px);
      }

      @include breakpoint(wide) {
        @include rem(max-width, 700px);
      }
    }
  }
}
