@import 'src/theme/main';

.area {
  @include padding-leader(1);

  .description {
    @extend %clearfix;
    @include block-width($w-sml);

    img {
      @include rem(max-height, 176px);
      float: left;
      margin: 0 rhythm(1) rhythm(1) 0;
      width: auto;
    }
  }

  .title {
    @include padding-leader(2);
  }
}
