%card {
  @include shadow-2dp();
  background-color: $white;
  display: inline-block;
  margin: rhythm(0.5) auto;
  padding: 0;
  width: 100%;

  a {
    color: $black;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: $black;
    }
  }

  .cardContent {
    padding: rhythm(0.5);
  }

  .cardTitle {
    @include rem(font-size, 18px);
    font-family: $ff-sans;
    font-weight: $bold;
    letter-spacing: 0;
    padding: rhythm(0.5) 0;
    text-transform: none;
    width: 100%;
  }

  .cardBody {
    overflow: hidden;
  }

  .thumb {
    height: 150px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    &::after {
      @extend %imageInset;
    }

    img {
      bottom: 0;
      height: auto;
      left: 0;
      object-fit: cover;
      margin: auto;
      min-height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  @include breakpoint(desktop) {
    transition: all 160ms ease-in-out;

    .thumb img {
      transition: all 160ms ease-in-out;
    }

    &:hover {
      @include shadow-6dp();
      transform: scale(1.04);

      .thumb img {
        transform: scale(1.1);
      }
    }
  }
}
