%bannerbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  @include padding-leader(1);
  @include padding-trailer(1);
  background-color: $black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  overflow: hidden;
  width: 100%;

  &.banner {
    @extend %bannerbox;
    @include rem(min-height, 300px);
    height: auto;
    position: relative;

    @include breakpoint(height-smallest) {
      @include rem(min-height, 400px);
    }

    @include breakpoint(height-small) {
      @include rem(min-height, 435px);
    }

    @include breakpoint(height-medium) {
      @include rem(min-height, 600px);
    }

    @include breakpoint(height-big) {
      @include rem(min-height, 619px);
    }

    @include breakpoint(desktop) {
      h1 {
        @include adjust-font-size-to(50px);
      }
    }

    @include breakpoint(wide) {
      h1 {
        @include adjust-font-size-to(60px);
      }
    }

    .background {
      height: 100%;
      left: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      min-width: 100%;
      top: 0;

      img {
        bottom: 0;
        height: auto;
        left: 0;
        object-fit: cover;
        margin: auto;
        min-height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }
  }

  &.bannerMini {
    @extend .banner;
    @include rem(min-height, 210px);

    @include breakpoint(height-smallest) {
      @include rem(min-height, 320px);
    }

    @include breakpoint(height-small) {
      @include rem(min-height, 380px);
    }

    @include breakpoint(height-medium) {
      @include rem(min-height, 460px);
    }

    @include breakpoint(height-big) {
      @include rem(min-height, 500px);
    }
  }

  &.article {
    @extend .banner;
    position: relative;

    h1,
    p {
      @include rem(max-width, $w-mid);
      @include rem(padding-left, 20px);
      @include rem(padding-right, 20px);
    }

    h1 {
      @include adjust-font-size-to(26px);

      @include breakpoint(tablet) {
        @include adjust-font-size-to(48px);
      }

      @include breakpoint(desktop) {
        @include adjust-font-size-to(60px);
      }
    }

    .bottomAlign {
      position: relative;

      @include breakpoint(tablet) {
        @include padding-trailer(2);
      }

      @include breakpoint(desktop) {
        @include padding-trailer(3);
      }
    }
  }

  .bottomAlign {
    @extend %grad-bottom;
    @include align-self(flex-end);
    @include rem(margin-bottom, -25px);
    width: 100%;
    z-index: 1;

    p {
      @include adjust-font-size-to(18px);
      @include padding-trailer(1);

      @include breakpoint(desktop) {
        @include adjust-font-size-to(28px);
      }
    }

    @include breakpoint(desktop) {
      @include rem(margin-bottom, -48px);
    }
  }

}