/*****************************
Z-Indices

MSDContent: 1
Tilts: 1
BottomAlign: 1
LandmarkListItem: 10
NavBar: 500
MSDHeader: 900
ModalBlanket: 990
Modal:  999
Search: 1000
SearchForm: 1100
SearchClose: 1111

*****************************/

%tilt {
  @include rem(height, 100px);
  content: "";
  width: 100%;
  position: absolute;
  z-index: 1;
}

.tiltBefore {
  @include rem(padding-top, 50px);

  &:before,
  &::before {
    @extend %tilt;
    @include rem(margin-top, -100px);
    background-color: $white;
    transform: skewY(-2deg);
  }

  &.alt:before,
  &.alt::before {
    // background-color: $paleblue;
  }
}

.tiltAfter {
  @include rem(padding-bottom, 50px);

  &:after,
  &::after {
    @extend %tilt;
    background-color: $white;
    transform: skewY(2deg);
  }

  &.alt:after,
  &.alt::after {
    // background-color: $paleblue;
  }

  & + * {
    @include rem(padding-top, 100px);
  }
}

.withTiltSibling {
  @include rem(padding-bottom, 100px);
}
