@import 'vendor/compass';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

@import 'patterns/patterns_normalize';
@import 'patterns/patterns_accessibility';
@import 'patterns/patterns_clearfix';
@import 'patterns/patterns_rem';
@import 'patterns/patterns_shadows';
@import 'patterns/patterns_media-queries';
@import 'patterns/globals';
@import 'patterns/typography_fonts';

/************************/

@import 'normalise.scss';
@import 'reset.scss';

/************************/

@import 'foundation';
@import 'card';
@import 'typography';
