img {
  border: 0;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.video {
  @include rem(max-width, 1200px);
  height: 0;
  margin-bottom: rhythm(1);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 52.875%; // 16:9 ratio
  padding-top: 0;
  position: relative;
  width: 94%;

  @include breakpoint(wide) {
    @include trailer(2);
    max-width: 100%;
    padding-bottom: 39.45%;
  }

  iframe {
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include breakpoint(wide) {
      margin-left: 15%;
      width: 70%;
    }
  }
}

header {

  .videoLoop {
    background-color: $black;
    display: none;

    @include breakpoint(wide) {
      display: block;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%;

      video {
        background-color: $black;
        display: block;
        height: auto;
        width: 100%;
      }
    }
  }
}