@import 'src/theme/main';

.snippetList {
  @include rem(bottom, $navbar-height);
  @include rem(height, $snippet-height-small);
  background-color: $bgfallback;
  background-color: $bgfloating;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: fixed;

  &> ul {
    @include rem(padding-left, $snippet-margin / 2);
    @include rem(padding-right, $snippet-margin / 2);
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    max-width: 100%;
    text-align: left;
    width: auto;
    white-space: nowrap;

    * {
      white-space: normal;
    }
  }

  @include breakpoint(height-small) {
    @include rem(height, $snippet-height-medium);
  }

    @include breakpoint(height-medium) {
    @include rem(height, $snippet-height-large);
  }
}