@import 'src/theme/main';

.modal {
  @include rem(max-width, $w-mid);
  @include rem(bottom, 48px);
  @include rem(top, 48px);
  background: $white;
  box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.75);
  left: 4%;
  margin: 0 auto;
  overflow: auto;
  padding: 0;
  position: absolute;
  right: 4%;
  z-index: 999;

  @include breakpoint(wide) {
    @include rem(max-width, $w-lge);
  }

  .close {
    @include rem(right, 8px);
    position: fixed;
    top: 0;
    z-index: 999;

    a {
      color: $white;
      line-height: 0.9;
      text-decoration: none;
      text-align: center;
      transition: text-shadow 120ms;
      &:hover {
        .icon {
          transform: scale(1.25);
        }
      }

      .icon {
        @include rem(font-size, 40px);
        display: block;
        font-weight: $light;
        text-shadow: 0px 0px 11px rgba(0, 0, 0, 0.95);
        transition: transform 120ms;
        width: 100%;
      }

      .label {
        @include rem(font-size, 10px);
        @include rem(top, -8px);
        font-weight: $regular;
        position: relative;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.95);
        text-transform: uppercase;
      }
    }

    @media print {
      display: none;
    }
  }

  // h1, h2, h3, h4, h5, h6, p, li, table {
  //   @include breakpoint(tablet) {
  //     padding-left: 3%;
  //     padding-right: 3%;
  //   }
  // }
}
