@import 'src/theme/main';

.pageHeader {
  @include rem(height, $header-height-small);
  @include rem(padding-right, 50px);
  align-items: center;
  background-color: $bgfallback;
  background-color: $bgfloating;
  display: flex;

  @include breakpoint(height-small) {
    @include rem(height, $header-height-medium);
  }

  @include breakpoint(height-medium) {
    @include rem(height, $header-height-large);
  }

  .pageHeaderLogo, .pageHeaderTitle, .pageHeaderTools  {
    display: inline-block;
    flex-basis: auto;
    margin: 0 0.5em;

    @include breakpoint(desktop) {
      padding: 0.5em 0;
    }
  }

  .pageHeaderLogo {
    margin-left: 0;
    padding: 0;

    svg {
      width: auto;
      @include rem(height, $header-height-small);

      @include breakpoint(height-small) {
        @include rem(height, $header-height-medium);
      }

      @include breakpoint(height-medium) {
        @include rem(height, $header-height-large);
      }
    }
  }

  .pageHeaderTitle {
    flex-grow: 1;
    h1 {
      @include rem(font-size, 20px);
      letter-spacing: -1px;
      max-width: 100%;
      padding-bottom: 0;

      @include breakpoint(height-medium) {
        @include rem(font-size, 24px);
      }
    }
  }
}
