@import 'src/theme/main.scss';

.navbar {
  background-color: $black;
  bottom: 0;
  height: $navbar-height;
  position: fixed;
  width: 100%;

  ul {
    padding: 1em;
    text-align: center;

    li {
      display: inline;
      margin: 0 0.25em;

      a {
        background-color: rgba(255,255,255,0.2);
        color: #fff;
        font-weight: bold;
        padding: 1em 1.5em;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          background-color: rgba(255,255,255,0.5);
        }
      }
    }
  }
}
