@import 'src/theme/main.scss';

.navbar {
  @include rem(height, $navbar-height);
  background-color: $black;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 500;

  ul {
    @include block-width($w-sml);
    @include rem(height, $navbar-height);
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    li {
      @include rem(height, $navbar-height);
      cursor: pointer;
      flex-basis: 20%;
      list-style: none;
      margin: 0 2.5%;
      padding: 0;

      a {
        @include rem(height, $navbar-height);
        @include rem(padding-bottom, 24px);
        @include rem(padding-top, 4px);
        color: #fff;
        cursor: pointer;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;

        &.active {
          color: $duckeggblue;

          svg {
            fill: $duckeggblue;
          }
        }

        svg {
          @include rem(margin-bottom, 4px);
          @include rem(width, 34px);
          display: block;
          height: auto;
          margin-left: auto;
          margin-top: 0;
          margin-right: auto;
        }

        span {
          @include rem(font-size, 12px);
          display: block;
          font-weight: $regular;
          text-transform: uppercase;
          width: 100%;
        }

        @include breakpoint(desktop) {
          &:not(.active):hover {
            color: $bgfloating;

            svg {
              fill: $bgfloating;
            }
          }
        }
      }
    }
  }

  @media print {
    display: none;
  }
}

.modalOpen {
  .navbar {
    -webkit-filter: blur(5px);
  }
}
