@import 'src/theme/main';

.snippet {

  .breadcrumb {
    @include padding-leader(1);
  }

  .interview, .timelapse, .video {
    .bannerMini {
      @include breakpoint(height-smallest) {
        @include rem(min-height, 200px);
      }

      @include breakpoint(height-small) {
        @include rem(min-height, 200px);
      }

      @include breakpoint(height-medium) {
        @include rem(min-height, 250px);
      }

      @include breakpoint(height-big) {
        @include rem(min-height, 280px);
      }
    }
  }

  .tour {
    .bannerMini {
      @include rem(min-height, 96px);
    }

    iframe {
      @include rem(min-height, 400px);
      display: block;
      height: calc(100vh - 320px);
      margin: 0 auto;
      width: 94%;
    }
  }

  aside {
    @extend .video;

    iframe {
      @extend %clearfix;
    }
  }

  img {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}