@import 'src/theme/main';

.snippet {

  .breadcrumb {
    @include padding-leader(1);
  }

  .tour, .interview, .timelapse, .video {
    .bannerMini {
      @include breakpoint(height-smallest) {
        @include rem(min-height, 200px);
      }

      @include breakpoint(height-small) {
        @include rem(min-height, 200px);
      }

      @include breakpoint(height-medium) {
        @include rem(min-height, 250px);
      }

      @include breakpoint(height-big) {
        @include rem(min-height, 280px);
      }
    }
  }

  .tour {
    iframe {
      @include rem(height, 600px);
      width: 100%;
    }
  }

  aside {
    @extend .video;

    iframe {
      @extend %clearfix;
    }
  }

  img {
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}