@mixin translateX($d) {
  transform: translate3d($d, 0, 0);
  transition: transform .3s ease;
}

@mixin appearance($a) {
  -webkit-appearance: $a;
  -moz-appearance: $a;
  -ms-appearance: $a;
  appearance: $a;
}

$black:         #000 !default;
$darkgray:      #333;
$lightgray:     #f6f6f6;
$midgray:       #666;
$white:         #fff !default;

$silver:        #A7A9AC;
$skyblue:       #74CEE2;
$duckeggblue:   #3DAAC3;

$cyan:          #0076de;
$green:         #008a00;
$cherry:        #df0620;

$bgfloating:    rgba(234, 234, 234, 0.88);

// Vars
$warning:       $cherry;
$cta:           $skyblue;
$success:       $green;

// Layout widths
$w-sml:         700px;
$w-mid:         900px;
$w-lge:         1400px;

// Vertical Rhythm Vars
$base-font-size: 16px;
$base-line-height: 24px;
$rhythm-unit: 'rem';
$round-to-nearest-half-line: true;

// App units
$navbar-height: 88px;
$header-height-small: 60px;
$header-height-medium: 90px;
$header-height-large: 120px;
$snippet-margin: 16px;
$snippet-height-small: 160px;
$snippet-height-medium: 240px;
$snippet-height-large: 320px;

%wrapper {
  margin: 0 auto;
  padding: 0 3%;
  width: 94%;

  @include breakpoint(tablet) {
    @include rem(max-width, $w-lge);
  }

  @include breakpoint(desktop) {
    width: 100%;
  }
}

%grad-bottom {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .9))); // /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%); // /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0); // /* IE6-9 */
}

%grad-top {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(255%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, .9))); // /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // // /* Chrome1255+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // /* Opera 11.1255+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // /* IE1255+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 100%); // /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0); // /* IE6-9 */
}

%grad-left {
  background: -moz-linear-gradient(right, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* FF3.6+ */
  background: -webkit-gradient(linear, right top, left bottom, color-stop(66%, rgba($cyan, 0)), color-stop(100%, rgba($cyan, .9))); // /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(right, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(right, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* Opera 11.10+ */
  background: -ms-linear-gradient(right, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* IE10+ */
  background: linear-gradient(to left, rgba($cyan, 0) 66%, rgba($cyan, .9) 100%); // /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=1); // /* IE6-9 */
}

$cdnurl: '//uom-design-system.s3.amazonaws.com/shared';

%imgreplace {
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

%smooth-translate {
  -moz-transition: -moz-transform .3s ease;
  -ms-transition: -ms-transform .3s ease;
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
}

%normalise {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
