html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  line-height: 1.5789;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  margin: 0;
  padding: 0;
}

* {
  /* autoprefixer: off */
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* autoprefixer: on */
  box-sizing: border-box;
}

iframe[src^='//www.youtube.com'],
iframe[src^='//player.vimeo.com'] {
  width: 100%;
}
